<header>
    <nav>
        <ul>
            <li> <a id="ContactPage" routerLink="/contacts" routerLinkActive="active" data-dl ='{"da_track": "true","event":"mousedown"}'>Contacts</a></li>
            <li> <a id="EditcontactPage" routerLink="/editcontact" routerLinkActive="active" data-dl='{"da_track": "true","event":"mousedown"}'>Edit Contact</a> </li>
            <li> <a id="FeedbackPage" routerLink="/feedback" routerLinkActive="active" data-dl='{"event":"mousedown","da_track": "true" }'>Feedback</a></li>
            <li> <a id="AboutPage" routerLink="/aboutus" routerLinkActive="active" >About Us</a></li>   
        </ul>
    </nav>
</header>
<div>
    <router-outlet></router-outlet>
</div><br><br>
